[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "shell/dircolors/solarized"]
	path = shell/dircolors/solarized
	url = https://github.com/seebi/dircolors-solarized
