[submodule "shell/dircolors/solarized"]
	path = shell/dircolors/solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/monokai"]
	path = vim/monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule "vim/runtime/bundle/vim-hack"]
	path = vim/runtime/bundle/vim-hack
	url = git://github.com/hhvm/vim-hack.git
